# 초기에는 pymysql을 사용했지만, multi-thread환경에서 다양한 문제를 해결하기 위해 sqlalchemy으로 리팩토링 => 실제 쿼리는 pymysql이 담당하지만 ORM은 sqlalchemy가 담당
pymysql
sqlalchemy
# MySQL 연결 시 비밀번호 검증 시 필요
cryptography
# .env파일로 환경변수를 관리할 수 있도록 하는 라이브러리
python-dotenv
# 외부 api 호출을 위해 사용
requests
#스케줄링을 위한 라이브러리
apscheduler
